*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    border: 2px solid red;
    width: 1000mm;
    margin: auto;
}

label, input{
    border: 1px solid black;
    width: 49%;
    display: inline-block;
    font-size: 16px;
}